<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/">Root Site</a></li>
        <li><a href="{{ site.baseurl }}/buttons">Buttons</a></li>
        <li><a href="{{ site.baseurl }}/button-groups">Button Groups</a></li>
        <li><a href="{{ site.baseurl }}/colors">Colors</a></li>
        <li><a href="{{ site.baseurl }}/typography">Typography</a></li>
        <li><a href="{{ site.baseurl }}/alerts">Alerts</a></li>
        <li><a href="{{ site.baseurl }}/tables">Tables</a></li>
    </ul>
</nav>